{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper compact-wrapper mt-5" id="pageWrapper"> 
    <div class="page-body">
        <div class="container-fluid general-widget">
            <div class="row"> 
                <div class="col-12"> 
                    <div class="card"> 
                        <div class="card-body">
                            <div class="row g-xl-5 g-3">
                                {% include 'supplier/CRUD/supplier/detailsupplier/side.html' %}
                                {% include 'supplier/CRUD/supplier/detailsupplier/body.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}