{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="container p-2 mt-4">
    <div class="row"> 
        <div class="col-12"> 
            <div class="card"> 
                <div class="card-header card-no-border pb-0">
                    <h3 class="text-center">Informações do Fornecedor</h3>
                </div>
                <div class="card-body">
                    <div class="row g-xl-5 g-3" id='height-card'>
                        <div class="col-xxl-3 col-xl-4 box-col-4e sidebar-left-wrapper">

                            <ul class="sidebar-left-icons nav nav-pills" id="supplier-pills-tab" role="tablist">
                                <li class="nav-item" role="presentation"> 
                                    <a class="nav-link active" id="detail-supplier-tab" data-bs-toggle="pill" href="#detail-supplier" role="tab" aria-controls="detail-supplier" aria-selected="true">
                                        <div class="nav-rounded">
                                            <div class="supplier-icons">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-buildings stroke-icon" viewBox="0 0 16 16">
                                                    <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022M6 8.694 1 10.36V15h5zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5z"/>
                                                    <path d="M2 11h1v1H2zm2 0h1v1H4zm-2 2h1v1H2zm2 0h1v1H4zm4-4h1v1H8zm2 0h1v1h-1zm-2 2h1v1H8zm2 0h1v1h-1zm2-2h1v1h-1zm0 2h1v1h-1zM8 7h1v1H8zm2 0h1v1h-1zm2 0h1v1h-1zM8 5h1v1H8zm2 0h1v1h-1zm2 0h1v1h-1zm0-2h1v1h-1z"/>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="supplier-tab-content">
                                            <h5>Fornecedor</h5>
                                            <p>Informações principais</p>
                                        </div>
                                    </a>
                                </li>

                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="contacts-supplier-tab" data-bs-toggle="pill" href="#contacts-supplier" role="tab" aria-controls="contact-supplier" aria-selected="false" tabindex="-1">
                                        <div class="nav-rounded">
                                            <div class="supplier-icons">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill stroke-icon" viewBox="0 0 16 16">
                                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="supplier-tab-content">
                                            <h5>Contatos do Fornecedor</h5>
                                            <p>Nome, Cargo, E-mail e Telefone</p>
                                        </div>
                                    </a>
                                </li>

                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="contracts-supplier-tab" data-bs-toggle="pill" href="#contracts-supplier" role="tab" aria-controls="contracts-supplier" aria-selected="false" tabindex="-1">
                                        <div class="nav-rounded">
                                            <div class="supplier-icons">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                                                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                                                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="supplier-tab-content">
                                            <h5>Contratos</h5>
                                            <p>Inicio, Valores, Status e etc</p>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>

                        <div class="col-xxl-9 col-xl-8 box-col-8 position-relative">
                            <div class="tab-content" id="supplier-pills-tabContent">

                                <div class="tab-pane fade show active" id="detail-supplier" role="tabpanel" aria-labelledby="detail-supplier-tab">
                                    <div class="row">
                                        <div class="col-12 mb-2">
                                            <label class="form-label" for="FormControlInput1">Razão Social</label>
                                            <i class="icon-help-alt ms-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="set proper weight for product items."></i>
                                        </div>
                                        <div class="col-12 mb-4">
                                            <input class="form-control" id="FormControlInput1" type="text" value="{{ supplier.company_name }}">
                                        </div>
                                        
                                        <div class="col-12 mb-2">
                                            <label class="form-label" for="FormControlInput2">Nome Fantasia</label>
                                            <i class="icon-help-alt ms-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="set proper weight for product items."></i>
                                        </div>
                                        <div class="col-12 mb-4">
                                            <input class="form-control" id="FormControlInput2" type="text" value="{{ supplier.fantasy_name }}">
                                        </div>
                                    </div>
                                    <div class="row custom-input">
                                        <div class="col-sm-4 mb-2">
                                            <label class="form-label" for="FormControlInput3">CNPJ</label>
                                            <input class="form-control" id="FormControlInput3" type="text" value="{{ supplier.cnpj_number }}">
                                        </div>
                                        <div class="col-sm-8 mb-2">
                                            <label class="form-label" for="FormControlInput4">E-mail</label>
                                            <input class="form-control" id="FormControlInput4" type="email" value="{{ supplier.e_mail }}">
                                        </div>
                                    </div>
                                    <div class="container mt-3 table-overflow">
                                        {% if phones %}
                                        <table class="table table-dark table-striped table-hover table-sm">
                                        <div class="d-flex btn-group">
                                            <a href="{% url 'supplier-new' %}"><input type="button" value="Novo Telefone" class="btn btn-primary btn-sm"></a>
                                        </div>
                                            <thead>
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Telefone</th>
                                                    <th>Ações</th>
                                                </tr>
                                            </thead>
                                            <tbody> 
                                                {% for phone in phones %}
                                                <tr>
                                                    <td>{{ phone.get_type_phone_display }}</td>
                                                    <td>
                                                        
                                                        {% if phone.ddi_number %}
                                                            +{{ phone.ddi_number }} 
                                                        {% endif %} 
                                                            ({{ phone.ddd_number }}) {{ phone.phone_number }}</td>
                                                    <td class="text-center">
                                                        <a href="" ><i class="bi bi-pencil-square"></i></a>
                                                        |  
                                                        <a href=""><i class="bi bi-trash-fill"></i></a>
                                                    </td>
                                                </tr>    
                                                {% endfor %}
                                            </tbody> 
                                        </table>
                                        {% endif %}
                                    </div>
                                    <div class="supplier-buttons mt-3">
                                        <div class="btn">
                                            <div class="d-flex align-items-center gap-sm-2 gap-1">Next
                                                <svg>
                                                    <use href="../assets/svg/icon-sprite.svg#front-arrow">  </use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="contracts-supplier" role="tabpanel" aria-labelledby="contracts-supplier-tab">
                                    <div class="sidebar-body">
                                        <div class="container table-overflow">
                                            <p class="text-center">Contratos</p>
                                            <div class="d-flex mb-3 btn-group">
                                                <a href="{% url 'supplier-new' %}"><input type="button" value="Novo" class="btn btn-primary btn-sm"></a>
                                                
                                            </div>
                                                
                                            <table class="table table-dark table-striped table-hover table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>Data</th>
                                                        <th>Motivo</th>
                                                        <th>Valor (R$)</th>
                                                        <th>Status</th>
                                                        <th>Ações</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>01/01/2024</td>
                                                        <td>Instalação de luminarias...</td>
                                                        <td>1.590,00</td>
                                                        <td><a href="" ><i class="bi bi-pencil-square"></i></a></td>
                                                        <td class="text-center">
                                                            <a href="" ><i class="bi bi-pencil-square"></i></a>
                                                            |  
                                                            <a href=""><i class="bi bi-trash-fill"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>20/03/2024</td>
                                                        <td>Verificação de partes elétricas...</td>
                                                        <td>370,00</td>
                                                        <td><a href="" ><i class="bi bi-pencil-square"></i></a></td>
                                                        <td class="text-center">
                                                            <a href="" ><i class="bi bi-pencil-square"></i></a>
                                                            |  
                                                            <a href=""><i class="bi bi-trash-fill"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>25/08/2024</td>
                                                        <td>Instalação disjuntores e circuitos...</td>
                                                        <td>5.100,00</td>
                                                        <td><a href="" ><i class="bi bi-pencil-square"></i></a></td>
                                                        <td class="text-center">
                                                            <a href="" ><i class="bi bi-pencil-square"></i></a>
                                                            |  
                                                            <a href=""><i class="bi bi-trash-fill"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>18/09/2024</td>
                                                        <td>Fornecimento de equipamentos...</td>
                                                        <td>210,00</td>
                                                        <td><a href="" ><i class="bi bi-pencil-square"></i></a></td>
                                                        <td class="text-center">
                                                            <a href="" ><i class="bi bi-pencil-square"></i></a>
                                                            |  
                                                            <a href=""><i class="bi bi-trash-fill"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody> 
                                            </table>
                                        </div>
                                        <div class="supplier-buttons">
                                            <div class="btn">
                                                <div class="d-flex align-items-center gap-sm-2 gap-1">
                                                    <svg>
                                                        <use href="../assets/svg/icon-sprite.svg#back-arrow"></use>
                                                    </svg>Previous
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade" id="contacts-supplier" role="tabpanel" aria-labelledby="contacts-supplier-tab">
                                    <div class="sidebar-body">
                                        <div class="container table-overflow">
                                            <p class="text-center">Contatos</p>
                                            <div class="d-flex mb-3 btn-group">
                                                <a href="{% url 'supplier-new' %}"><input type="button" value="Novo" class="btn btn-primary btn-sm"></a>
                                            </div>
                                            {% if contacts %}
                                                <table class="table table-dark table-striped table-hover table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Nome</th>
                                                            <th>Cargo</th>
                                                            <th>E-mail</th>
                                                            <th>Telefones</th>
                                                            <th>Ações</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for contact in contacts %}
                                                            <tr>
                                                                <td>{{ contact.full_name }}</td>
                                                                <td>{{ contact.position_company }}</td>
                                                                <td>{{ contact.e_mail }}</td>
                                                                <td>
                                                                    <a href="" ><i class="bi bi-pencil-square"></i>
                                                                    
                                                                    {% for ph_cont in phones_contact %}
                                                                        {% if ph_cont.contact.id == contact.id %}
                                                                            {{ ph_cont.get_type_phone_display }}
                                                                            {% if ph_cont.ddi_number %}
                                                                                +{{ ph_cont.ddi_number }} 
                                                                            {% endif %} 
                                                                                ({{ ph_cont.ddd_number }}) {{ ph_cont.phone_number }}
                                                                        {% endif %}
                                                                            
                                                                    {% endfor %}
                                                                        
                                                                    </a>
                                                                </td>
                                                                <td class="text-center">
                                                                    <a href="" ><i class="bi bi-pencil-square"></i></a>
                                                                    |  
                                                                    <a href=""><i class="bi bi-trash-fill"></i></a>
                                                                </td>
                                                            </tr>            
                                                        {% endfor %}
                                                    </tbody> 
                                                </table>        
                                            {% endif %}
                                            
                                        </div>
                                        <div class="supplier-buttons">
                                            <div class="btn">
                                                <div class="d-flex align-items-center gap-sm-2 gap-1">
                                                    <svg>
                                                        <use href="../assets/svg/icon-sprite.svg#back-arrow"></use>
                                                    </svg>Previous
                                                </div>
                                            </div>
                                            <div class="btn">
                                                <div class="d-flex align-items-center gap-sm-2 gap-1">Next
                                                    <svg>
                                                        <use href="../assets/svg/icon-sprite.svg#front-arrow">     </use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}