{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Confirmation Delete</title>
{% endblock %}


{% block content %}
    <div class="container">
        <form class="jumbotron" method="post">
            {% csrf_token %}
            <h2>Deseja realmente excluir o Item da Requisição de Fornecimento 
                <span class="text-danger">        
                    {{ object }}
                </span>?
            </h2>
            <div class="btn-group" role="group" aria-label="First group">
                <input type="submit" value="Excluir" class="btn btn-group btn-danger">
                <a href="{% url 'suppli_request-detail' object.supply_request.id %}"><input type="button"  class="btn btn-group btn-success" value="Cancelar">
            </div>
        </form>
    </div>
{% endblock %}