{% load static %}

<div class="sidebar-body">
    <p class="text-center">Contatos</p>
    <div class="btn-toolbar justify-content-between p-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <a href="{% url 'supplier-createcontact' supplier.id %}" class="transparent-button">
                <input type="button" value="Novo" class="btn">
            </a>
        </div>
        <div class="input-group">
            <div class="d-flex align-self-end p-2">
                {% include 'partial/_pagination.html' %}
            </div>
        </div>
    </div>
    <div class="container table-overflow">
        {% if contacts %}
            <table class="table table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cargo</th>
                        <th>E-mail</th>
                        <th></th>
                        <th>Telefones</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.full_name }}</td>
                        <td>{{ contact.position_company }}</td>
                        <td>{{ contact.e_mail }}</td>
                        <td>
                            <a class="text-center" href="{% url 'supplier-createphonecontact' supplier.id contact.id %}" ><i class="bi bi-node-plus"></i></a>
                        </td>
                        <td>
                            <!-- CONSULTA TAB TELEFONES-->
                            
                            {% if phones_contact %}
                                <table>
                                {% for phs_contact in phones_contact %}
                                <tr>
                                    <td>
                                        {{ phs_contact.get_type_phone_display }}
                                        {% if phs_contact.ddi_number %}
                                            +{{ phs_contact.ddi_number }} 
                                        {% endif %}
                                    
                                        ({{ phs_contact.ddd_number }}) {{ phs_contact.phone_number }}
                                        <a href="{% url 'supplier-updatephonecontact' phs_contact.id %}" ><i class="bi bi-pencil-square"></i></a>
                                        |
                                        <a href="#"><i class="bi bi-trash-fill"></i></a>
                                    </td>
                                    
                                </tr>
                                
                                {% endfor %}
                                </table>
                            {% else %} 
                                <p>Não tem nada</p>
                            {% endif %}
                            
                            
                        </td>
                        </td>
                        <td class="text-center">
                            <a href="{% url 'supplier-updatecontact' contact.id %}" ><i class="bi bi-pencil-square"></i></a>
                            |  
                            <a href=""><i class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>            
                {% endfor %}
                </tbody> 
            </table>        
            {% endif %}
        </div>        
    </div>
</div>