{% load static %}

<div class="sidebar-body">
    <div class="container table-overflow">
        <p class="text-center">Contratos</p>
        <div class="d-flex mt-1 mb-2 btn-group justify-content-end"> 
            <a href="{% url 'supplier-new' %}" class="transparent-button">
                <input type="button" value="Novo" class="btn"></a>
        </div>
        <table class="table table-dark table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Descrição da Requisição de Fornecimento</th>
                    <th>Valor (R$)</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01/01/2024</td>
                    <td>Instalação de luminarias...</td>
                    <td>1.590,00</td>
                    <td><a href="" ><i class="bi bi-pencil-square"></i></a></td>
                    <td class="text-center">
                        <a href="" ><i class="bi bi-pencil-square"></i></a>
                        |  
                        <a href=""><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>20/03/2024</td>
                    <td>Verificação de partes elétricas...</td>
                    <td>370,00</td>
                    <td><a href="" ><i class="bi bi-pencil-square"></i></a></td>
                    <td class="text-center">
                        <a href="" ><i class="bi bi-pencil-square"></i></a>
                        |  
                        <a href=""><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>25/08/2024</td>
                    <td>Instalação disjuntores e circuitos...</td>
                    <td>5.100,00</td>
                    <td><a href="" ><i class="bi bi-pencil-square"></i></a></td>
                    <td class="text-center">
                        <a href="" ><i class="bi bi-pencil-square"></i></a>
                        |  
                        <a href=""><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>18/09/2024</td>
                    <td>Fornecimento de equipamentos...</td>
                    <td>210,00</td>
                    <td><a href="" ><i class="bi bi-pencil-square"></i></a></td>
                    <td class="text-center">
                        <a href="" ><i class="bi bi-pencil-square"></i></a>
                        |  
                        <a href=""><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            </tbody> 
        </table>
    </div>
    <div class="supplier-buttons">
        <div class="btn">
            <div class="d-flex align-items-center gap-sm-2 gap-1">
                <svg>
                    <use href="../assets/svg/icon-sprite.svg#back-arrow"></use>
                </svg>Previous
            </div>
        </div>
    </div>
</div>