{% load static %}

<div class="sidebar-body">    
    <div class="row">
        <div class="col-12 mb-2">
            <label class="form-label" for="FormControlInput1">Razão Social</label>
            <i class="icon-help-alt ms-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="set proper weight for product items."></i>
        </div>
        <div class="col-12 mb-4">
            <input class="form-control" id="FormControlInput1" type="text" value="{{ supplier.company_name }}">
        </div>
        <div class="col-12 mb-2">
                <label class="form-label" for="FormControlInput2">Nome Fantasia</label>
            <i class="icon-help-alt ms-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="set proper weight for product items."></i>
        </div>
        <div class="col-12 mb-4">
            <input class="form-control" id="FormControlInput2" type="text" value="{{ supplier.fantasy_name }}">
        </div>
    </div>
    <div class="row custom-input">
        <div class="col-sm-4 mb-2">
            <label class="form-label" for="FormControlInput3">CNPJ</label>
            <input class="form-control" id="FormControlInput3" type="text" value="{{ supplier.cnpj_number }}">
        </div>
        <div class="col-sm-8 mb-2">
            <label class="form-label" for="FormControlInput4">E-mail</label>
            <input class="form-control" id="FormControlInput4" type="email" value="{{ supplier.e_mail }}">
        </div>
    </div>
    <div class="container">
        <div class="d-flex mt-1 mb-2 btn-group justify-content-end"> 
            <a href="{% url  'supplier-createphone' supplier.id %}"class="transparent-button">
                <input type="button" value="Novo Telefone" class="btn"></a>
        </div>

        {% if phones %}
        <table class="table table-dark table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Telefone</th>
                        <th>Ações</th>
                    </tr>
                </thead>
            <tbody> 
                {% for phone in phones %}
                <tr>
                    <td>{{ phone.get_type_phone_display }}</td>
                    <td>
                        
                        {% if phone.ddi_number %}
                            +{{ phone.ddi_number }} 
                        {% endif %} 
                            ({{ phone.ddd_number }}) {{ phone.phone_number }}</td>
                    <td class="text-center">
                        <a href="{% url 'supplier-updatephone' phone.id %}" ><i class="bi bi-pencil-square"></i></a>
                        |  
                        <a href=""><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>    
                {% endfor %}
            </tbody> 
        </table>
        {% endif %}
    </div>
</div>