{% extends 'base.html' %}
{% load static %}

{% block base_content %}
<body class="log">
    <div class="login-container">
        <img src="{% static 'img/logo.png' %}" alt="Logo da ONG" id="img-logo">
        {% if next %}
            {% if user.is_authenticated %}
                <p>Sua conta não tem acesso a esta página. Para prosseguir,
                    faça login com uma conta que tenha acesso.</p>
            {% else %}
                <h2>Gestão de Fornecedores</h2>
                <p>Por favor, faça login para ter acesso ao site.</p>
            {% endif %}
        {% endif %}
        {% if form.errors %}
            <p>Seu nome de usuário e senha não correspondem. Tente novamente.</p>
        {% endif %}
        <form class="login-form" method="post">
            {% csrf_token %}
            
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="button-container">
                <button type="submit">Entrar</button>
            </div>
        </form>
    </div>
</body>
{% endblock base_content %}