{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper compact-wrapper mt-5" id="pageWrapper"> 
    <div class="page-body">
        <div class="container-fluid general-widget">
            <div class="row">
                <div class="col-sm-6 col-xl-3 box-col-6">
                    <div class="card widget-1">
                        <div class="card-body">
                            <div class="widget-content">
                                <div class="widget-round danger">
                                    <div class="bg-round">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-buildings-fill" viewBox="0 0 16 16">
                                            <path d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zM2 11h1v1H2zm2 0h1v1H4zm-1 2v1H2v-1zm1 0h1v1H4zm9-10v1h-1V3zM8 5h1v1H8zm1 2v1H8V7zM8 9h1v1H8zm2 0h1v1h-1zm-1 2v1H8v-1zm1 0h1v1h-1zm3-2v1h-1V9zm-1 2h1v1h-1zm-2-4h1v1h-1zm3 0v1h-1V7zm-2-2v1h-1V5zm1 0h1v1h-1z"/>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-half" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 0 8 1zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16"/>
                                        </svg>
                                    </div>
                                </div>
                                <div>
                                    <h4>
                                        
                                        {% if supplyers %}
                                            {{ supplyers.count }}
                                        {% endif %}
                                            
                                        
                                    
                                    </h4><span class="f-light">Fornecedores</span>
                                </div>
                            </div>
                            <div class="font-danger f-w-500"><i class="icon-arrow-up icon-rotate me-1"></i>
                                <span>
                                    
                                    {% if actives %}
                                    
                                    {% with active=actives.count total=supplyers.count %}
                                        {% widthratio active total 100 %}%
                                    {% endwith %}
                                        
                                    {% endif %}
                                        
                                    Ativo(s)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 box-col-6">
                    <div class="card widget-1">
                        <div class="card-body">
                            <div class="widget-content">
                                <div class="widget-round danger">
                                    <div class="bg-round">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
                                        </svg>
                                    </div>
                                </div>
                                <div>
                                    <h4>
                                        R$ 
                                        {{ completed.soma }}
                                        
                                    </h4><span class="f-light">Contratos Finalizados</span>
                                </div>
                            </div>
                            <div class="font-danger f-w-500"><i class="icon-arrow-up icon-rotate me-1"></i>
                                <span>
                                    {% with finaly=completed.soma totals=allnumber.soma %}
                                        {% widthratio finaly totals 100 %}%
                                    {% endwith %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 box-col-6">
                    <div class="card widget-1">
                        <div class="card-body">
                            <div class="widget-content">
                                <div class="widget-round danger">
                                    <div class="bg-round">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-bar-graph-fill" viewBox="0 0 16 16">
                                            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m.5 10v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5m-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div>
                                    <h4>
                                        R$ 
                                        {{progress.soma}}
                                    </h4><span class="f-light">Contratos em execução</span>
                                </div>
                            </div>
                            <div class="font-danger f-w-500"><i class="icon-arrow-up icon-rotate me-1"></i>
                                <span>
                                    {% with finaly=progress.soma totals=allnumber.soma %}
                                        {% widthratio finaly totals 100 %}%
                                    {% endwith %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 box-col-6">
                    <div class="card widget-1">
                        <div class="card-body">
                            <div class="widget-content">
                                <div class="widget-round danger">
                                    <div class="bg-round">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
                                        </svg>
                                    </div>
                                </div>
                                <div>
                                    <h4>
                                        R$ 
                                        {{ opening.soma }}
                                    </h4><span class="f-light">Contratos em aberto</span>
                                </div>
                            </div>
                            <div class="font-danger f-w-500"><i class="icon-arrow-up icon-rotate me-1"></i>
                                <span>
                                    {% with finaly=opening.soma totals=allnumber.soma %}
                                        {% widthratio finaly totals 100 %}%
                                    {% endwith %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-fluid general-widget">
            <div class="row">
                <div class="col-xxl-12 col-xl-12 col-md-12 box-col-7">
                    <div class="card">
                        <div class="card-header card-no-border pb-0 text-center">
                            <h3>Últimas Requisições de Serviços</h3>
                            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group" role="group" aria-label="First group">
                                    <a href="{% url 'suppli_request-new' %}"><input type="button" value="Novo" class="btn btn-primary"></a>
                                </div>
                                </div>
                                <div class="input-group">
                                    <div class="d-flex align-self-end p-2">
                                        {% include 'partial/_pagination.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0 assignment-table">
                            <div class="table theme-scrollbar">
                                
                                <div id="assignment_wrapper" class="dataTables_wrapper no-footer">
                                    <table class="table display table-bordernone pt-0 dataTable no-footer" id="assignment" style="width:100%"role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_disabled" rowspan="1" colspan="1" >ID Requisição</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" >Motivo da Requisição</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" >Data de Abertura</th>
                                                <th class="text-center sorting_disabled" rowspan="1" colspan="1" >Status<th>
                                            </tr>
                                        </thead>
                                        
                                        {% if object_list %}
                                            <tbody>
                                                {% for obj in object_list %}
                                                    <tr role="row" class="odd">
                                                        <td>
                                                            <h6 class="f-w-600">{{ obj.id }}</h6>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex align-items-center gap-3">
                                                                <div class="flex-shrink-0 comman-round">
                                                                    <img src="{% static 'img/1.png' %}" alt="">
                                                                </div>
                                                                <div class="flex-grow-1"><a href="{% url 'suppli_request-detail' obj.pk %}">
                                                                    <h6>{{ obj.description_request }}</h6></a>
                                                                    <p>{{ obj.get_unit_total }} ITENS / VALOR R$ {{ obj.get_value_total }}</p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="f-w-600">{{ obj.date_request }}</td>
                                                        <td class="text-end">
                                                            <div class="btn bg-light-success border-light-success text-success">{{ obj.get_status_display }}</div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}