{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="page-wrapper compact-wrapper mt-5 request" id="pageWrapper"> 
    <div class="page-body">
        <div class="container-fluid general-widget">
            <div class="row">
                <div class="col-xxl-12 col-xl-12 col-md-12 box-col-7">
                    <div class="card">
                        <div class="card-header card-no-border pb-0 text-center">
                            <h3>Requisições de Serviços</h3>
                        </div>

                        <div class="d-flex mt-2 mb-5 btn-group justify-content-end"> 
                            <a href="{% url 'suppli_request-new' %}" class="transparent-button">
                                <input type="button" value="Novo" class="btn"></a>
                        </div>

                        <div class="card-body pt-0 assignment-table">
                            <div class="table theme-scrollbar">
                                
                                <div id="assignment_wrapper" class="dataTables_wrapper no-footer">
                                    <table class="table display table-bordernone pt-0 dataTable no-footer" id="assignment" style="width:100%"role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_disabled" rowspan="1" colspan="1" >ID Requisição</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" >Motivo da Requisição</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" >Data de Abertura</th>
                                                <th class="text-center sorting_disabled" rowspan="1" colspan="1" >Status<th>
                                            </tr>
                                        </thead>
                                        
                                        {% if object_list %}
                                            <tbody>
                                                {% for obj in object_list %}
                                                    <tr role="row" class="odd">
                                                        <td>
                                                            <h6 class="f-w-600">{{ obj.id }}</h6>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex align-items-center gap-3">
                                                                <div class="flex-shrink-0 comman-round">
                                                                    <img src="{% static 'img/1.png' %}" alt="">
                                                                </div>
                                                                <div class="flex-grow-1"><a href="{% url 'suppli_request-detail' obj.pk %}">
                                                                    <h6>{{ obj.description_request }}</h6></a>
                                                                    <p>{{ obj.get_unit_total }} ITENS / VALOR R$ {{ obj.get_value_total }}</p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="f-w-600">{{ obj.date_request }}</td>
                                                        <td class="text-end">
                                                            <div class="btn bg-light-success border-light-success text-success">{{ obj.get_status_display }}</div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        {% endif %}
                                    </table>
                                </div>
                                <div class="d-flex align-self-end p-2">
                                    {% include 'partial/_pagination.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}