<!DOCTYPE html>
{% load static %}

<html lang="pt-br" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sistema de Gestão de Fornecedores">
    
    <!-- SEO and Open Graph Metadata -->
    <meta property="og:title" content="Sistema de Gestão de Fornecedores">
    <meta property="og:description" content="Uma plataforma para gerenciar fornecedores de maneira eficiente.">
    <meta property="og:image" content="{% static 'images/fornecedores.png' %}">
    
    <!-- Carregar CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- Inclusão de partials -->
    {% include 'partial/_head.html' %}
</head>
<body>
    <!-- Bloco de conteúdo da página -->
    <main>
        {% block base_content %}
        <!-- Conteúdo dinâmico aqui -->
        {% endblock base_content %}
    </main>

    <!-- Scripts para funcionalidade -->
    {% include 'partial/_scripts.html' %}
</body>
</html>