{% load static %}

<nav aria-label="...">
    <ul class="pagination">
        <!-- Se houver pagina anterior -->
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> << Anterior</a>
            </li>
        {% endif %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
        </li>
        <!-- Se houver pagina posterior-->
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Proxima >> </a>
            </li>
        {% endif %}
    </ul>
</nav>