{% load static %}

<div class="col-xxl-9 col-xl-8 box-col-8 position-relative">                            
    <div class="tab-content" id="supplier-pills-tabContent">
        <div class="tab-pane fade show active" id="detail-supplier" role="tabpanel" aria-labelledby="detail-supplier-tab">
            {% include 'suppli_request/supplyrequest/CRUD/partial/detail-suppliyrequest.html' %}
        </div>
        <div class="tab-pane fade" id="contacts-supplier" role="tabpanel" aria-labelledby="contacts-supplier-tab">
            {% include 'suppli_request/supplyrequest/CRUD/partial/itensrequest.html' %}
        </div>        
        <div class="tab-pane fade" id="contracts-supplier" role="tabpanel" aria-labelledby="contracts-supplier-tab">
            {% include 'suppli_request/supplyrequest/CRUD/partial/contracts-supplier.html' %}
        </div>
    </div>
</div>
